---
title: Initial Exploratory Data Analysis
author: George Whittington
date: today
date-format: long

format:
    html:
        embed-resources: true
        toc: true
        theme: solar
        title-block: true
---

## Libraries

In [2]:
import polars as pl

import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use("ggplot")

## Annual Data

In [10]:
annual = pl.read_csv("../data/combined_bank_data_annual_FIXED.csv", null_values="NA")

In [11]:
annual.shape

(4233, 45)

In [18]:
# TODO: Check dtypes of each column, particularly if any are String instead of Numeric

## Quarterly Data

In [9]:
quarterly = pl.read_csv(
    "../data/combined_bank_data_quarterly_CLEANED.csv",
    schema_overrides={"Total_Deposits_EOQ":pl.Float64},
    null_values="NA"
)

`schema_overrides={"Total_Deposits_EOQ":pl.Float64}` to properly read in scientific notation values as floating point numbers

In [12]:
quarterly.shape

(17230, 656)

In [19]:
# TODO: Check dtypes of each column, particularly if any are String instead of Numeric